<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-3" *ngFor="let program of programs">
            <div class="card">
                <img src="{{program.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{program.title}}</h5>
                    <p class="card-text">{{program.description}}</p>
                </div>
                <a href="/notes" class="btn btn-primary">Usar programa</a>
            </div>
        </div>
    </div>
</div>